<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="./styles/style.css" type="text/css" media="all" />
    <script src="./scripts/vue.js" charset="utf-8"></script>
    <script src="./scripts/vue-resource.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./styles/meplayer.css" type="text/css" media="all" />
    <script src="./scripts/meplayer.js" charset="utf-8"></script>
  </head>
  <body>
    <header id="topHeader">
      <nav>
        <ul>
          <li><a :class="tab === 'mySound' ? 'active':'' "href="#" @click="switchTab('mySound')">我的歌曲</a></li>
          <li><a :class="tab === 'dailySound' ? 'active':''" href="#" @click="switchTab('dailySound')">每日推荐</a></li>
          <li><a :class="tab === 'hotSound' ? 'active':''" href="#" @click="switchTab('hotSound')">热门歌单</a></li>
        </ul>
      </nav>
      <form>
        <input class="search" type="text" />
        <input class="search-btn" type="button" value="search" />
      </form>
      <a href="#" class="login" @click="toggleLogin">login</a>
      <div class="loginShadow" v-show="loginTag" @click.self="toggleLogin">
        <div class="login-box">
          <form>
            <h2>登录</h2>
            <input class="username" type="text" placeholder="phone number"/>
            <input class="password" type="password" placeholder="password"/>
            <input type="button"/ value="登录">
            <input type="button" value="切换为邮箱登录"/>
          </form>
        </div>
      </div>
    </header>
    <main id="main" >
      <div id="mySound" v-if="tab === 'mySound'">
        mySound 
      </div>
      <div id="dailySound" v-else-if="tab === 'dailySound'">
        dailySound 
      </div>
      <div id="hotSound" v-else>
        <a class="item" @click="selectMusicList(item.id)" v-for="item in hotPlayList" href="#" >
          {{item.name}}
        </a>
        <div class="clear"></div>
      </div>
    </main>
    <div class="container">
        <div class="music"></div>
    </div>
    <script src="./scripts/script.js" charset="utf-8"></script>
  </body>
</html>
